* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(168, 166, 166);
    display: flex;
    align-items: center;
    justify-content: center;

}

#page-container {
    height: 650px;
    width: 700px;
    margin: 25px;
    background-color: whitesmoke;
    border: 5px solid rgb(80, 79, 79);
    border-radius: 25px;
    box-shadow: 10px 10px 8px 10px #888888;
}

.page-elements {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 500px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 197, 197);
    border: 5px solid rgb(80, 79, 79);
    border-radius: 25px;
    box-shadow: 10px 10px 8px 0px #ad9e9e;
}

#buttonEl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

#startButton {
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    border: 5px solid rgb(80, 79, 79);
    border-radius: 25px;
    box-shadow: 10px 10px 8px 0px #ad9e9e;
}

#startButton:hover {
    transform: scale(1.2)
}

#summary {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    font-size: 30px;
    height: 100px;
    width: 150px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;

}

.userEl {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    font-size: 20px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    font-size: 30px;
}

#nuckle {
    height: 100px;
    width: 150px;
    background-image: url("images/nuckle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
}


.cpu-symbol {
    height: 100px;
    width: 100px;
    background-color: white;
    background-image: none;
    border-radius: 25px;
    border: 2px solid black;
}

.cpu-rock {
    background-image: url("images/rock.png");
    background-size: cover;
    transform: rotate(90deg) scaleX(-1);
}

.cpu-paper {
    background-image: url("images/paper.png");
    background-size: cover;
    transform: rotate(90deg) scaleX(-1);
   
}

.cpu-scissors {
    background-image: url("images/scissors.png");
    background-size: cover;
    transform: rotate(90deg) scaleX(-1);
    
}

.player-symbol {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
}

.rock-element {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    background-image: url("images/rock.png");
    background-size: cover;
    transform: rotate(-90deg);
}

.paper-element {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    background-image: url("images/paper.png");
    background-size: cover;
    transform: rotate(-90deg);
}

.scissors-element {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    background-image: url("images/scissors.png");
    background-size: cover;
    transform: rotate(-90deg);
}

#rock:hover {
    border: 5px solid yellow;
}

#paper:hover {
    border: 5px solid yellow;
}

#scissors:hover {
    border: 5px solid yellow;
}



/* settings for phone display */
@media screen and (min-width: 0px) and (max-width: 700px) {

    #page-container {
        height: 90vh;
        width: 85vw;
        margin: 25px;
    }
    
    .page-elements {
        height: 100px;
        width: 80%;
    }

    #summary {
        height: 70px;
        width: 100px;
        font-size: 20px;
    }

    .userEl {
        height: 70px;
        width: 70px;
    }

    .title {
        font-size: 15px;
    }

    #nuckle {
        height: 70px;
        width: 100px;
    }

    .cpu-symbol {
        height: 70px;
        width: 70px;
    }
    
    .player-symbol {
        height: 70px;
        width: 70px;
    }

    .rock-element {
        height: 70px;
        width: 70px;
    }

    .paper-element {
        height: 70px;
        width: 70px;
    }

    .scissors-element {
        height: 70px;
        width: 70px;
    }
    
}